* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

.cima{
    background-color: #2369b1;
    color: white;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
}

.titulo{
    padding: 10px;
    box-shadow: 0px 0px 5px;
    font-weight: bold;
}

.menu{
    padding-bottom: 10px;
}
.menu ul{
    list-style-type: none;/*retira a bolinha da lista*/
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    padding: 5px 15px;/*distância de cima e de baixo, e depois das laterais*/
    display: inline-block;/*deixa de ocupar um o espaço do outro*/
    color: white;
    font-size: 20px;
    text-decoration: none;/*retira o sublinhado do link*/
    
    font-weight: bold;
}

.menu ul li a:hover{
    background-color: #3f7cbb;/*muda a cor de fundo ao passar o mouse sobre o botão*/
    border-radius: 5px;
}

.pag-atual{
    border-bottom: 2px solid white;
}

.baixo{
    display: flex;
    flex-wrap: wrap;
    
}

.texto{
    background-color: #b2e0ff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cx{
    display: flex;
    padding: 40px;
}


.comprar{
    width: 70px;
    background-color: #73c4fa;
    color: black;
    text-decoration: none; /*retira o sublinhado do link*/
    border-radius: 4px;
    padding: 10px 20px;

}


.cx a:hover{/*passa o mouse em cima de botão ele muda de cor*/
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
}


